@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: url(/fonts/Lato-Light.tff) format('tff');
  }

  font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url(/fonts/Lato-Regular.tff) format('tff');
  }

  font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url(/fonts/Lato-Bold.tff) format('tff');
  }

  h1 {
    @apply text-[3.5rem] xl:text-7xl font-bold !leading-[120%];
  }

  h2 {
    @apply text-[2.5rem] xl:text-[3.5rem] font-bold !leading-[120%];
  }

  h3 {
    @apply text-[1.75rem] xl:text-[2rem] font-normal !leading-[120%];
  }

  h4 {
    @apply text-[1.5rem] xl:text-2xl font-light !leading-[120%];
  }

  h5 {
    @apply text-[1.25rem] xl:text-xl font-light !leading-[120%];
  }

  p {
    @apply text-base xl:text-base font-normal !leading-[120%];
  }
}